*{
  box-sizing: border-box;
}

head, title{
  display: none;
}

html, body {
  width: 100%;
  background-color: rgb(38, 61, 96);
  color: white;
  background-image: url('http://www.domusdiana.it/skyline.png');
  background-size: 1000px 200px;
  background-repeat: no-repeat;
  background-position:bottom;
}

a {
  color: white;
}

.title1 {
  font-family: fantasy;
}

#menu {
  color: white;
  display: inline-block;
  position: fixed;
  left: 2px; top: 2px;
}


/*STYLE FOR HOME */
#homeContainer {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(38, 61, 96);
  /*overflow: hidden;*/
}

.profile-button{
  position: fixed;
  top: 10px; right: 15px;
  background-color: transparent;
  border: 1px solid gold;
  color: inherit;
  border-radius: 2px;
  padding: 4px;
  z-index: 100;
}

.profile-button:hover{
  /*color: rgb(38, 61, 96);*/
  background-color: #495d7a;
}

.profile-menu{
  position: fixed;
  right: 70px;
  top: 17px;
  width: 150px;
  height: 0;
  transition: height .4s;
}

.profile-menu ul{
  list-style-type: none;
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.profile-menu li{
  backgroud-color: white;
  border-bottom: 1px solid gold;
  text-align: center;
  padding: 4px;
  width: 100%;
}

.profile-menu li:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.rome-button{
  border-radius: 50%;
  width: 85px;
  height: 100px;
  position: absolute;
  left: 15%;
  top: 4rem;
  /*border: 1px gold solid;*/
}

.locals-recommend{
  padding-top: 3rem;
}

.current-search{
  max-width: 300px;
  margin: 10px auto;
  height: 60px;
}

.google-map{
  margin-top: 3rem;
  z-index: 10;
}

/*STYLE FOR CREATE */
#createItinContainer {
    text-align: center;
    margin: auto;
    background-color: rgb(38, 61, 96);
}

#recentlyCreated{
  margin: 3rem 1rem 1rem;
}

#recentlyCreated > div{
  display: flex;
  padding: 10px;
  width: 100%;
}

#recentlyCreated h3{
  display: block;
}

.recentItin{
  flex: 1;
  border: 1px solid white;
  margin: 0 10px;
  text-align: center;
  height: 200px;
  min-width: 200px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.recentAuthor, .recentTitle{
  display: block;
  width: 100%;
  font: 22px Arial;
  background-color: rgba(0,0,0, .7);
}

  /*END OF STYLES FOR HOME*/

.feed {
  /*height: 800px;*/
  width: 95%;
  margin: 0 auto;
  list-style-type: none;
  /*overflow: scroll;*/
  position: relative;
}

.feed-item {
  height: 305px;
  width: 95%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.itinerary-container {
  margin: 0 auto;
  width: 40%;
}

.itinerary-container h1 {
  margin: 3px 0 0 0;
}

.itinerary-container h2 {
  margin-top: 5px;
}

.itin-header {
  text-align: center;
}

.stops {
  margin-left: 2px;
  margin-bottom: 4px;
  height: 125px;
  width: 125px;
  border: 1px solid black;
  display: inline-block;
  overflow: scroll;
}

.stop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stop h3, h4 {
  margin: 0;
}

.stop h3 {
  font-size: 24;
  font-style: italic;
}

.stop h6 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.icon {
  width: 35px;
  height: 35px;
  margin-left: 25px;
}

/*STYLES FOR ITINERARY STOP CREATOR*/
.map {
  width: 75%;
  margin: 0 auto;
}

.itinCreator{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

#add-stop, #current-stops {
  width: 45%;
}

.description{
  height:100px;
  width: 200px;
}

p {
  position: relative;
  margin-top: 0;
}

button {
  background: none;
  border: 1px solid white;
  color: white;
}

fieldset {
  border: none;
}

#loginContainer {
  text-align: center;


}

#loginError{
  padding: 10px;
  height: 40px;
  width: 290px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  color:red
}

.logButton {
  margin-top: 15px
}

#big {
  display:none;

}

#dig {
  margin-top: 20px;
  display: none;
}

.friends-container{
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0 0;
}

.friend-search{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.friendsList{
  padding-top: 2rem;
  list-style-type: none;
}

.friendsList li{
  float: left;
  width: 200px;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #6a6aa5;
  box-shadow: 0 0 1px white;
  position: relative;
}

.friendsList li:hover{
  box-shadow: 0 0 1px gold;
}

.profile-pic{
  width: 100%;
}

.friend-success{
  width: 200px;
  margin: 1rem auto;
  height: 30px;
}

.friend-route{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  display: none;
}

.friend-fav, .friend-itin{
  width: 100%;
  height: 50%;
  color: black;
  background-color: grey;
}

.friend-fav:hover, .friend-itin:hover{
  background-color: gold;
}
