<div id="homeContainer" ng-click='clickDelegation($event)'>
  <div id="menu">
    <a ng-href="/#/home">Home</a>
    <a ng-href="/#/createItin">Create Itinerary</a>
  </div>
  <input type='button' class='profile-button' ng-click='openProfile()' ng-value='username' />
  <div class='profile-menu'>
    <ul ng-class='menuStyle'>
      <li class='profile-itineraries-button' ng-click='gotoMyItineraries()'>My Itineraries</li>
      <li class='profile-favorites-button' ng-click='gotoFavorites()'>Favorites</li>
      <li class='profile-friends-button' ng-click='gotoFriends()'>Friends</li>
      <li class='profile-logout-button' ng-click='logout()'>Logout</li>
    </ul>
  </div>
  <h2 class='locals-recommend'>Show me what the locals recommend</h2>

<!--The below utilizes the ngmap places-auto-complete directive
  https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/docs/index.html-->
<input places-auto-complete types="['geocode']" ng-model="location" id="homeSearch" on-place-changed="myUnusedCallback(location)"/>

<button ng-click="getLocation()"> Use Current Location </button>

<p class='current-search'>
 Your Current Search Area is: </br> {{location}}
</p>

<button ng-click="searchLocation(location)" ng-route='/#/feed'> Search </button>


<!--The below utilizes the ngmap map-lazy-load directive
  https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/docs/index.html-->
<div class='google-map' map-lazy-load="https://maps.google.com/maps/api/js">
  <map center={{location}} zoom="10">
    <marker position={{location}}></marker>
  </map>
</div>

<div id="recentlyCreated">
  <h3>Recent Itineraries</h3>
  <div>
  <!-- <span ng-repeat='obj in lastThree'><b>{{obj.title}}</b>: {{obj.author}} //</span> -->
    <div class='recentItin' ng-style='landscapes[$index]'  ng-repeat='obj in lastThree track by $index' ng-click='gotoItinerary(obj.title)'>
      <span class='recentTitle'>{{obj.title}}</span>
      <span class='recentAuthor'>{{obj.author}}</span>
    </div>
  </div>
</div>


</div>
